.yellow-card {
  box-sizing: border-box;
  background-color: $yellow-card-bg;
  padding: 4rem 5rem;
  border-radius: 20px;
  margin-top: 5rem;
  color: $black;
  width: 70%;
  margin: 5rem auto 5rem auto;

  @include respond(phone-port) {
    width: 90%;
  }
  h3 {
    margin: 0 0 2rem 0;
    color: inherit;
    text-align: center;
  }

  blockquote,
  &__blockquote-p {
    text-align: center;
    font-weight: 700;
    margin: 0;
  }

  blockquote {
    font-style: italic;
    margin-top: 3rem;
  }

  &__blockquote-p {
  }
}
