.blog-home {
  max-width: 70%;
  margin: 0 auto;
  padding-bottom: 6rem;

  @include respond("phone-port") {
    max-width: 100%;
    width: 90%;
  }

  &__top-section {
    @include respond("phone-port") {
      margin-left: 2rem;
    }
  }

  a:hover {
    transform: none;
  }

  &__post-section {
    margin-top: 3rem;
    @include respond("laptop") {
      margin-top: 4rem;
    }
  }

  &__post-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem;
    justify-items: center;

    @include respond("tab-land") {
      grid-template-columns: 1fr 1fr;
    }
    @include respond("tab-port") {
      grid-template-columns: 1fr;
    }
  }
}
