// COLORS
$color-primary: #0f5f6a;
$color-primary-light: #516677;
$color-secondary: #f5b331;
$yellow-card-bg: #ffc34e;
$black: #000000;
$white: #ffffff;
$body-bg-color: #fafafa;

//FONT FAMILY
$title-font: "Oswald", sans-serif;
$body-font: "Roboto", sans-serif;
$body-secondary: "Sarabun", sans-serif;
$bold: 700;

// FONT-SIZES
$basic-font-size: 1.7rem;
$mobile-font-size: 1.5rem;

$big-title: 4rem;
$title-font-size: 3.5rem;
$mobile-title-font-size: 3rem;

$offset: -30rem;
